/* on iphone 13 mini 375x812px */
body {
    background-color: grey;
    color: #9efef4;
    margin: 0;
    font-family: 'Inter';
}

.heder {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 375px;
    height: 812px;
    background: linear-gradient(180deg, #9E0AF9 0%, rgba(5, 202, 245, 0.77) 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}

/* sekcja search */

.search {
    height: 87px;
}

.search input {
    position: absolute;
    width: 202px;
    height: 60px;
    left: calc(50% - 250px/2 - 0.5px);
    top: calc(50% - 60px/2 - 360px);
    background: #1BC4CF;
    border-radius: 8px;
    border: none;
    padding: 0;
}

.search input:focus {
    outline: none;
}

.search input, .search input::placeholder {
    text-align: center;
    font-size: 24px;
    color: #9E0AF9;
    opacity: 1;
}

.iconifySearch {
    position: absolute;
    right: 8px;
    top: 14px;
    color: #9E0AF9;
    cursor: pointer;
}

.inputDiv {
    position: absolute;
    width: 250px;
    height: 60px;
    left: calc(50% - 250px/2 - 0.5px);
    top: calc(50% - 60px/2 - 360px);
    background: #1BC4CF;
    border-radius: 8px;
    border: none;
}

/* sekcja info  */

.info {
    height: 50px;
}

.taskInfo {
    position: absolute;
    width: 325px;
    height: 40px;
    left: 24px;
    top: 87px;
    background: rgba(217, 217, 217, 0.02);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
.taskInfo p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 20px;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    margin: 0;
}

.taskEnd {
    left: 12px;
}

.taskIP {
    right: 12px;
}

.taskInfo span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 20px;
    color: #FFFFFF;
    top: 15px;
}

.taskEndSpan {
    left: 32px;
}

.taskIPSpan {
    right: 32px;
}

/* sekcja tasków */

.tasks {
    position: absolute;
    width: 375px;
    height: 540px;
    left: 0px;
    top: 162px;
}

.taskList {
    width: 375px;
    height: 540px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.taskList li {
    list-style-type: none;

    margin-left: 41px;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px 16px 5px 16px;

    min-height: 35px;
    width: 260.5px;

    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.02), rgba(217, 217, 217, 0.02)), #1BC4CF;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: auto;
    align-self: center;
}

.taskList li span {
    align-self: center;
}

.iconifyBin {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* add section */
.add {
    position: absolute;
    top: 702px;
    height: 110px;
    width: 100%;
}

.inputDivAdd {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 62px;
    bottom: 16px;
    background: #9E0AF9;
    border-radius: 8px;
    border: none;
}

.addForm input {
    width: 202px;
    height: 60px;
    background: #9E0AF9;
    border-radius: 8px;
    border: none;
    padding: 0;
}

.addForm input:focus {
    outline: none;
}

.addForm input, .addForm input::placeholder {
    text-align: center;
    font-size: 24px;
    color: #1BC4CF;
    opacity: 1;
}

.btnAddTask {
    position: absolute;
    right: 8px;
    top: 15px;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #9E0AF9;
}

.iconifyAdd {
    color: #1BC4CF;
    width: 30px;
    height: 30px;
}

.countTask {
    position: absolute;
    right: 1%;
    bottom: 50%;
    transform: translate(0,50%);
    color: #3b5284;
}